.gifts-box {
    @include main-box-style;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .gifts-box-row {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    h1{
        font-size: 3.5rem;
    }
    h2{
        font-size: 3rem;
    }
    h3{
        font-size: 2.5rem;
    }
    h4{
        font-size: 2rem;
    }
    a{
        text-decoration: none;
    }

    .short-bar {
        @include line-break;
        width: 40%;
    }

    .venmobtn {
        display: inline-block;
        padding: 8px 16px;
        background-color: $dk-green;
        color: $primary; 
        border-radius: 8px;

        // Add some hover effect
        &:hover {
            background-color: $info; // Darker color on hover
            text-decoration: none; // Remove underline on hover
        }

        a {
            color: $primary;
            text-decoration: none;
            font-size: 1rem;
        }
    }
}
@media only screen and (max-width: 600px) {
    .gifts-box {
        width: 100%;
    }
    
}
