.venue-box {
    @include main-box-style;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .venue-box-row {
        @include row-style;
        padding-left: 0;
        padding-right: 0;
    }
    .col.container {
        width: 100%;
        display: flex;
        justify-content: center; /* Center the image horizontally */
        align-items: center; /* Center the image vertically */
        img {
            width: 100%;
            height: auto; 
            display: block; 
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
      }
      

    .long-bar {
        @include line-break;
        width: 70%;        
    }
    .short-bar {
        @include line-break;
        width: 40%;        
    }
    .btn {
        @include buttonStyle;
    }
    h1{
        font-size: 3.5rem;
    }
    h2{
        font-size: 3rem;
    }
    h3{
        font-size: 2.5rem;
    }
    h4{
        font-size: 2rem;
    }
    a{
        text-decoration: none;
    }
}
